<!DOCTYPE html>
<html>
<head>
  <title>SmartgraphsConnector</title>
  <%= stylesheet_link_tag    "smartgraphs_connector/application", :media => "all" %>
  <%= javascript_include_tag "smartgraphs_connector/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
